.container.header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #010409;
    border-bottom: 1px solid  rgba(128, 128, 128, 0.5);
}
.row.header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.website_brand_header {
    background: linear-gradient(to left, rgb(38, 38, 185), rgb(21, 21, 68), rgb(16, 28, 69), rgb(41, 41, 197));
    background-clip: text;
    color: transparent;
    animation: animatedbrand 5s linear infinite;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-background-clip: text;
}
@keyframes animatedbrand {
    to {background-position-x: 250px;}
}
.column.header.second {
    display: flex;
    justify-content: center;
}
.column.header.third {
    display: flex;
    justify-content: end;
}
.list-items {
    display: flex;
    list-style: none;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.4s ease;
}
.list-items:hover {
    transform: scale(1.05);
}
.list-item {
    margin: 0px 50px 0px 50px; 
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; 
    transition: all 0.3s ease; 
}
.list-item:hover {
    background-color: rgba(255, 255, 255, 0.08); 
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1); 
}

.list-item-scale:hover {
    transform: scale(1.1);
}
.header.signup_btn,
.header.login_btn {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
}
.header.signup_btn:hover,
.header.login_btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
}
.header.signup_btn:active,
.header.login_btn:active {
    background-color: rgba(90, 89, 89, 0.543);
    border: 1px solid rgb(193, 193, 193);
    color: rgb(141, 141, 141);
}
.header.signup_btn {
    margin-right: 5px;
}
.column.header.fourth {
    display: none;
}
.un-ordered_hamburger-list {
    display: none;
}